<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" *ngIf="connecte == false" [routerLink]="['nouveauprojet']" >Fundini</a> 
    <a class="navbar-brand" *ngIf="connecte == true" [routerLink]="['feed']" >Fundini</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">

        <li class="navv-item" *ngIf="connecte == false">
        <a class="nav-item nav-link"  
        [routerLink]="['register']" routerLinkActive="active"> Sign up </a>
        </li>
        <li class="navv-item" *ngIf="connecte == true">
          <a class="nav-item nav-link"  
          [routerLink]="['']" routerLinkActive="active"> Profile </a>
          </li>
        <li class="navv-item" *ngIf="connecte == false">
        <a class="nav-item nav-link" 
        [routerLink]="['login']" routerLinkActive="active">Login</a>
        </li>
        <li class="navv-item" *ngIf="connecte == true">
          <a class="nav-item nav-link" style="cursor: pointer;"
          (click)="logout() && onNavigate('home')">Log out</a>
          </li>

        <li class="navv-item" >
          <a class="nav-item nav-link" href="#">About us</a>
          </li>

      </ul>
    </div>
  </nav>
