
@import url("https://fonts.googleapis.com/css?family=Roboto:300,900");

.home-image-wrapper img{
  display: block;
  margin: auto;
  width:120%;
  padding-bottom: 100%;
  background: no-repeat center/cover;
}













